@{
    ViewData["Title"] = "Resultado";
}
<div>
    <h1>Hola @ViewBag.Nombre<h1>
    <h2>Te sugerimos cocinar @ViewBag.Plato<h2>
    <h2>Te tomará @ViewBag.Tiempo minutos<h2>
    <h2>Esta receta es para @ViewBag.CantidadPersonas personas<h2>
    <h2>La dificultad de este plato es: @ViewBag.Dificultad
</div>